body {
  background-color: #fff;
}

.icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 100px;
  background-color: $icon-bg;
  color: $icon-color;
  @include transition (all 1.0s ease-in-out);
}

ul {
  list-style: none;
  margin-left: 0;

  li {
    margin-bottom: 20px;
  }
}
