.home-nav {
  font-family: $open-sans;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  width: 100%;
  z-index: 100;
  @include background(linear-gradient(rgba($bg, 0.98) 70%, transparent) center repeat);

  ul {
    margin: 0;
    padding: 10px 0;
    margin-bottom: 10px;
    line-height: 1.2em;

    width: 100%;
  }

  li {
    display: inline-block;
    margin-right: 3%;

    &:last-child { margin-right: 0; }
  }

  a {
    text-decoration: none;
    color: $nav-normal;

    &:visited { color: $nav-normal; }
    &:hover { color: $nav-normal-hover; }
  }

  li.active {
    border-bottom: 1px solid $nav-active;
    a { color: $nav-active; }
  }
}
