.desktop, .mobile {
  opacity: 0;
}

// SCSS port of http://codepen.io/rendro/pen/nbxli

$barBgColor: #ccc !default;
$barColor: lighten($barBgColor, 20%);
$barHeight: 24px !default;
$browserBgColor: white !default;
$borderRadius: 3px;

.desktop-browser {
  position: relative;
  width: 100%;
  min-height: 220px;
  margin: 0 auto;
  padding-top: $barHeight;
  background: $barBgColor;
  border: 1px solid $barBgColor;
  border-radius: $borderRadius;
  box-shadow: 0 0 1px $barColor;
  box-sizing: border-box;
  &:after,
  &:before{
    font-weight: 300;
    line-height: 1;
  }

  // OS Circles in the top left;
  &:before {
    position: absolute;
    left: 5px;
    top: $barHeight/-2 - 3px;
    content: "\00B7\00B7\00B7";
    color: darken($barBgColor, 20%);
    font-size: 50px;
    letter-spacing: -2px;
  }

  // URL bar
  &[data-url]:after {
    z-index: 5;
    position: absolute;
    left: 45px;
    right: 15px;
    top: 7px;
    content: attr(data-url);
    padding: 2px;
    background: $barColor;
    font-size: 7px;
    font-family: 'Verdana';
    text-align: left;
    color: #999;
    border-radius: 1px;
  }

  // further content styles
  display: inline-block;
  vertical-align: top;
  font: 100 30px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 30px 10px;
  text-align: center;
  color: #aaa;

  &.image {
    padding: $barHeight - 1px 0 0;
    img { display: block; border-radius: 0 0 $borderRadius $borderRadius; }
  }

  // We also need to clear out the shadow on the player itself
  #example-player { box-shadow: none; }
}

$deviceBase: #808080;

.mobile-device {
	width: 100%;
	padding: 3% 11%;
  background: darken($deviceBase, 14%);
  border: 4px solid darken($deviceBase, 24%);
  border-radius: 1.5em;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 25px;
    height: 6%;
    min-width: 8px;
    background-color: darken($deviceBase, 24%);
    border-radius: 1em;
  }

  &:after {
    content: '\25A2';
    font-size: 0.7em;
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    border-radius: 15px;
    border: 1px solid darken($deviceBase, 24%);
  }

  #example-player { box-shadow: none; }
}
