html, body { height: 100%; }

.main {
  @include grid-row();

  height: 100%;
}

#home {
  @include grid-column(12);

  height: 100%;
  display: table;
}

.sections {
  @include grid-column(6);
  height: 100%;
  position: relative;

  section {
    height: 100%;
    display: table;
    position: relative;
    width: 100%;
  }
}

.video-preview {
  @include grid-column(6);
  position: relative;
  display: table;

  height: 100%;
}

.content {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  position: relative;
}

.users {
  @include grid-row();

  height: 100%;
}
