$league-gothic: 'League Gothic', 'Helvetica Neue', 'Helvetica', 'Arial';
.league-gothic { font-family: $league-gothic }

$raleway: 'Raleway', sans-serif;

// Headers
h1, h2, h3, h4, h5, h6 {
  font-family: $league-gothic;
}
